<ion-content>
  <ion-grid>
    <app-product-item></app-product-item>
  </ion-grid>

  <ion-grid>
    <ion-text>
      <h6>aproveite a oferta</h6>
    </ion-text>
    <ion-card>
      <ion-card-content class="container-ion-card">
        <ion-grid>
          <ion-row>
            <ion-col class="ion ion-text-center d-flex column ion-align-items-center">
              <div class="margin-b-content">
                <p class="ion-text-center ion-padding-horizontal">Compre na loja selecionada e pague apenas
                  <strong>R$ 799,00</strong>.
                  <br>
                  Pagamento online, sem frete, sem dor de cabeça. <br>
                  Rápido, fácil e seguro!</p>
              </div>
              <div>
                <ion-button expand="full" fill="outline">comprar com</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-text>
      <h6>ou então</h6>
    </ion-text>
    <ion-card>
      <ion-card-content class="container-ion-card">
        <ion-grid>
          <ion-row>
            <ion-col class="ion ion-text-center d-flex column ion-align-items-center">
              <div class="or-then-width-first">
                <div class="margin-b-content">
                  <h1><strong>R$ 799,00</strong></h1>
                </div>
                <div class="margin-b-content">
                  <span>12x R$ 66,58 s/juros</span>
                </div>
                <div class="margin-b-content">
                  <ion-button expand="full">comprar</ion-button>
                </div>
                <div class="margin-b-content">
                  <ion-button expand="full" fill="outline">comprar com</ion-button>
                </div>
              </div>
              <div class="margin-b-content">
                <span><strong>R$ 799,00</strong> em até 12x de R$ 66,58 s/ juros no cartão de crédito com Ame e receba R$ 15,98
                  (2%
                  de
                  volta)</span>
              </div>
              <div class="margin-b-content">
                <span><strong>R$ 799,00</strong> em até 24x de R$ 33,29 s/ juros no cartão de crédito com Ame e receba R$ 15,98
                  (2%
                  de
                  volta)</span>
              </div>
              <div class="ion-align-self-start">
                <small class="payment-methods">formas de parcelamento</small>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <hr>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input-card d-flex row ion-align-items-center">
                <div class="d-flex column box-cep">
                  <label for="">Digite seu CEP</label>
                  <input type="text" placeholder="_____-___" maxlength="9">
                </div>
                <ion-button fill="outline">calcular frete</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>