<ion-card class="d-flex column card-without-background">
  <img class="ion-align-self-center" src="../../../../assets/products/s10.png" />
  <ion-card-header>
    <ion-card-title class="margin-b-content">Smartphone Samsung Galaxy A10 32GB Dual Chip Android 9.0 Tela
      6.2” Octa-Core 4G Câmera 13MP -
      Preto</ion-card-title>
    <span class="d-flex ion-align-items-center has-product margin-b-content">
      <ion-icon name="checkmark-outline" color="success"></ion-icon>&nbsp; Disponível na loja selecionada
    </span>
    <span>
      (Cód: 123456789)
    </span>
  </ion-card-header>
</ion-card>